<div class="container" *ngFor="let item of data">
    <input type="checkbox" [checked]="item.status" (click)="changeStatus(item, $event.target)">
    <div [ngClass]="{'is-checked': item.status}">{{item.descr}}</div>
    <span class="trash-icon" (click)="removeTask(item.id)"></span>
</div>

<div class="container">
    <span class="add-task-link" *ngIf="!showForm" (click)="showForm = !showForm">+ Add task</span>
    <input type="text" *ngIf="showForm" [(ngModel)]="newTask" name="newTask"/>
    <button *ngIf="showForm" (click)="addTask()">Save</button>
    <button *ngIf="showForm" (click)="showForm = !showForm; newTask = '';">Cancel</button>
</div>

<span class="error" *ngIf="error">
    {{error}}
</span>
